@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body, *, *::after, *::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  background-color:  #f2f2f2;
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #ffffff;
}

/* # How to hide elements visually */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== RESET ===== */
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Remove margin on h1-h6 and p */
.reset-text {
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/* ===== BUTTON ===== */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px;
    border: none;
    width: 160px;
    min-height: 37px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    background-color: #756257;
    cursor: pointer;
  }

/* ====== FIELD ====== */
.field {
  border: 3px solid transparent;
  font: inherit;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.6);
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  border-color: #83b3d3;
}

.field:not(:placeholder-shown) {
  border: 2px solid #000000;
}

/* ====== SVG ====== */
.svg-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* ====== IMG ====== */
img {
  max-width: 100%;
  object-fit: contain;
}

/* ====== HEADER ====== */
.header {
  display: flex;
  padding: 13px 72px 14px 60px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

.navigation__list :last-child {
  margin-right: 0;
}

.navigation__item {
  margin-right: 9px;
  position: relative;
}

.navigation__link {
  position: relative;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 3px 9px 2px;
  border: 3px solid transparent;
}

.navigation__link_current::after {
  position: absolute;
  right: 9px;
  left: 9px;
  bottom: -20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation__icon {
  position: relative;
  display: block;
  min-width: 38px;
  min-height: 37px;
  border: 3px solid transparent;
}

.navigation__link:hover {
  color: #756257;
}

.navigation__link:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.navigation__icon:hover .navigation__icon-svg {
  fill: #756257;;
}

.navigation__icon:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.navigation__icon:active .navigation__icon-svg {
  opacity: 0.3;
  border: none;
}

.navigation__icon:active .navigation__like {
  color: rgba(225, 225, 225, 0.6);
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.navigation__user {
  justify-content: right;
  align-items: center;
}

.navigation__user .navigation__item{
  margin-right: 0;
}

.navigation__item_button {
 margin-left: 23px;
 display: flex;
}

.navigation__button {
  border: 3px solid #756257;
  padding: 0;
  text-decoration: none;
}

.navigation__button:hover {
  background: #615048;
}

.navigation__button:focus {
  border: 3px solid #83b3d3;
}

.navigation__button:active {
  color: rgba(225, 225, 225, 0.3);
}

.navigation__like {
  position: absolute;
  top: -3px;
  right: -6px;
  width: 19px;
  height: 19px;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  padding: 3px;
}

/* ====== MAIN ====== */
.main {
  flex-grow: 1;
}

.main__banner {
  display: flex;
  flex-direction: column;
  background-image: url("../images/backgrounds/mountains.jpg");
  background-repeat: no-repeat;
  background-color:#333333;
  margin-bottom: 63px;
}

.main__welcome {
  margin: auto;
  padding-top: 51px;
  padding-bottom: 25px;
  box-sizing: content-box;
}

.main__divider {
  background: url("../images/svg/divider.svg") no-repeat 0 100%;
  height: 57px;
}

.main__title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 720px;
  margin: 0 auto 32px;
}

.main__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  margin: auto;
  margin-bottom: 80px;
}

.advantages__image {
  width: 800px;
}

.advantages__separate {
  display: flex;
  background-color: #83b3d3;
  color:#ffffff;
}

.advantage {
  display: grid;
  padding: 25px;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  width: 400px;
  min-height: 384px;
}

.advantage__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  justify-self: center;
  align-self: end;
}

.advantage__number {
  margin: 29px auto;
}

.advantage__text {
  text-align: center;
  width: 250px;
  color: #333333;
}

.advantages__separate .advantage__text {
  width: 220px;
  color: #ffffff;
}

.advices__list {
  display: flex;
  flex-wrap: wrap;
}

.advices__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 179, 211, 0.12);
  text-decoration: none;
  width: 400px;
  min-height: 384px;
  padding: 89px 75px 79px;
}

.advices__item:nth-child(2) {
  background-color: #ffffff;
}

.advices__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 95px auto 19px;
}

.advices__item::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.advices__item_house::after {
  background-image: url("../images/svg/housing.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.advices__item_eat::after {
  background-image: url("../images/svg/eating.svg");
  width: 74px;
  height: 70px;
}

.advices__item_souvenirs::after {
  background-image: url("../images/svg/souvenirs.svg");
  width: 64px;
  height: 76px;
}

.advices__text {
  margin: 0 auto;
  width: 250px;
  text-align: center;
  color: #333333;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ====== ACTIVITY-BANNER ====== */
.activity-banner {
  display: flex;
  flex-direction: column;
  padding-top: 88px;
  padding-bottom: 90px;
}

.activity-banner__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 29px;
}

.activity-banner__subtitle {
  max-width: 600px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 60px;
}

.activity-banner__link {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 9px;
  background-color: #756257;
  border: 3px solid #756257;
  border-radius: 10px;
  margin: auto;
  width: 575px;
}

.activity-banner__link:hover {
  background-color: #615048;
}

.activity-banner__link:focus {
  border-color: #83b3d3;
  background-color: #615048;
}

.activity-banner__link:active {
  color: rgba(225, 225, 225, 0.3);
}

/* ====== SUBSCRIBE ====== */
.subscribe {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: rgb(53, 53, 70);
  padding: 94px 10px;
}

.subscribe_inner {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 137px;
}

.subscribe_main {
  background-image: url("../images/backgrounds/blurry-valley.jpg");
}

.subscribe__title_inner {
  color: #000000;
}

.subscribe__subtitle_inner {
  color: #333333;
}

.subscribe__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.subscribe__subtitle {
  max-width: 520px;
  min-height: 72px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 26px;
  text-align: center;
}

.subscribe__button {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: #83b3d3;
  text-transform: uppercase;
  width: 200px;
  border: 3px solid #83b3d3;
  border-radius: 0px 10px 10px 0px;
  padding: 14px;
  cursor: pointer;
  margin: 0;
}

.subscribe__button:hover {
  background-color: #68a2ca;
  border-color: #68a2ca;
}

.subscribe__button:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.subscribe__button:active {
  color: rgba(225, 225, 225, 0.3);
}

.subscribe__form {
  display: flex;
  margin: auto;
  border: none;
  width: 800px;
}

.subscribe__input {
  width: 600px;
  margin: 0;
  padding: 12px 19px;
}

/* Invalid */
/* класс должен добавляться при незаполнении поля или невалидности введенного email */
.subscribe__input_invalid {
  border: 2px solid #ff5757;
}

/* ====== FOOTER ====== */
.footer {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 31px;
  padding-bottom: 25px;
  padding-left: 62px;
  padding-right: 64px;
  align-items: center;
}

.social {
  max-width: 230px;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fill, 40px);
}

.social__item {
  position: relative;
  width: 100%;
}

/* надо ли здесь прописывать свойство background_size и почему*/
.social__link {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40px;
  display: block;
}

.social__link:hover .social__icon {
  fill: #68a2ca;
}

.social__link:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  fill: #83b3d3;
}

.footer__contact {
  justify-self: center;
  margin-left: 2px;
}

a[href^="tel:"] {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  padding: 2px;
}

a[href^="tel:"]:hover {
  color: #756257;
}

a[href^="tel:"]:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

a[href^="tel:"]:active {
  opacity: 0.3;
}

.footer__academy {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer__logo {
  display: block;
  position: relative;
  min-height: 53px;
  padding: 3px;
  border: 3px solid transparent;
  width: 131px;
}

.footer__logo:hover .footer__link {
  fill: #756257;
}

.footer__logo:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer__logo:active .footer__link {
  opacity: 0.3;
}

/* ====== CATALOG ====== */
.wrapper{
  padding-left: 70px;
  padding-right: 72px;
}

.catalog {
  display: flex;
  flex-direction: column
}

.catalog__list {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog__item {
  padding-top: 27px;
  padding-bottom: 27px;
  border-top: 1px solid #e5e5e5;
}

.main__header {
  padding: 31px 0 84px;
  background-image: url("../images/backgrounds/blurry-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(53, 53, 70);
  color: #ffffff;
}

.catalog__title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.catalog__button-add {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  width: 625px;
  min-height: 55px;
  margin: auto;
  margin-bottom: 30px;
  border: 3px solid transparent;
}

.catalog__button-add:hover {
  background: #68a2ca;
  border-color: #68a2ca;
}

.catalog__button-add:focus {
  border-color: #756257
}

.catalog__button-add:active {
  color: rgba(225, 225, 225, 0.3);
}

.catalog__bottom {
  width: 100%;
  display: flex;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 44px;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.breadcrumbs__list :last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  background-image: url("../images/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: -13px;
  width: 5px;
  height: 8px;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  color: #ffffff;
}

.breadcrumbs__link_home {
  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  padding: 0 8px;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus {
  outline:  3px solid #83b3d3;
  outline-offset: 2px;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

/* ====== RANGE ====== */
.range{
  width: 288px;
  padding-top: 4px;
}

.range__wrapper-inputs {
  display: flex;
  margin-bottom: 29px;
}

.range__input {
  background-color: transparent;
  margin: 0;
  border: 2px solid transparent;
  padding: 9px 13px 8px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-self:center
}

.range__input_min {
  border-right: none;
}

.range__input_max {
  border-right: none;
}

.range__label {
  display: flex;
  line-height: 23px;
  align-self: center;
  color: rgba(225, 225, 225, 0.3);
  border: 2px solid transparent;
  border-left: none;
}

.range__label_max {
  width: 35px;
  padding: 9px 17px 8px 0;
}

.range__label_min {
  width: 40px;
  padding: 9px 14px 8px 0;
}

.range__wrapper-group {
  display: flex;
  border: 2px solid #ffffff;
}

.range__wrapper-group_min {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.range__wrapper-group:hover {
  border-color: rgba(225, 225, 225, 0.6);
}

.range__wrapper-group:focus-within {
  border-color: #ffffff;
  box-shadow: 0px 0px 0px 3px #81b3d2;
}

.range__wrapper-group:focus-within .range__wrapper-group_min {
  border-right: 2px solid #ffffff;
}

.range__input_min:focus,
.range__input_max:focus,
.range__input_min:focus + .range__label_min,
.range__input_max:focus + .range__label_max {
  border-color: #81b3d2;
}

.range__input:active {
  background: #756257;
  border-color: transparent;
}

.range__input:active + .range__label {
  background: #756257;
  border-color: transparent;
}

.range__wrapper-group_max {
  border-radius: 0 4px 4px 0;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range__input {
  -moz-appearance: textfield;
}

.range__input:hover,
.range__input:focus {
  -moz-appearance: number-input;
}

.range__input::-webkit-input-placeholder {
  text-align: right;
}

.range__scale {
  position: relative;
  height: 4px;
  background-color: rgba(225, 225, 225, 0.3);
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  width: 227px;
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range__toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range__toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range__toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* ====== Checkboxes ====== */

.fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-price {
  grid-column: 4 / 5;
}

.search__form {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 43px 1fr auto;
  column-gap: 63px;
}

.search__item:not(:last-child) {
  margin-bottom: 13px;
}

.search__legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control__label {
  font-size: 18px;
  line-height: 23px;
}

.control__mark {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control__mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control__input:focus + .control__mark {
  border-color: #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control__input:active + .control__mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  content: "";
  background-image: url("../images/svg/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 12px;
  height: 10px;
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  border: 2px solid transparent;
  content: "";
}

.search__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__button-submit {
  background-color: #83b3d3;
  min-height: 48px;
  margin-top: 60px;
  margin-bottom: 19px;
  border: 3px solid transparent;
}

.search__button-submit:hover {
  background-color: #68a2ca;
  border-color: #68a2ca;
}

.search__button-submit:focus {
  border-color:#ffffff;
}

.search__button-submit:active {
  color: rgba(225, 225, 225, 0.3);
}

.search__button-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 100px;
  padding: 0;
  margin: 0;
}

.search__button-reset:hover {
  opacity: 0.6;
}

.search__button-reset:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
  outline-offset: 3px;
}

.search__button-reset:active {
  opacity: 0.3;
}

/* ====== FILTER ====== */
.filter {
  display: flex;
  margin-top: 44px;
  margin-bottom: 42px;
}

.filter__title {
  width: 340px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 190px;
  padding-top: 4px;
}

.filter__sorting {
  width: 287px;
  font: inherit;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  -webkit-appearance: none;
  padding: 10px 17px 11px;
  margin: 0;
}

.filter__sorting:hover {
  border-color:  #83b3d3;
}

.filter__sorting:focus {
  border-color:  #83b3d3;
}

.filter__sorting:active {
  opacity: 0.3;
}

.filter__form {
  margin-right: auto;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.filter__list :last-child {
  margin-right: 0;
}

.filter__item {
  margin-right: 8px;
}

.filter__button {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px;
  width: 48px;
  height: 48px;
  border:2px solid #e6e6e6;
  border-radius: 4px;
}

.filter__button_currently {
   border-color: #000000;
}

.filter__button_card{
  background-image: url("../images/svg/sorting-card.svg")
}

.filter__button_slideshow {
  background-image: url("../images/svg/sorting-slideshow.svg");
}

.filter__button_list {
  background-image: url("../images/svg/sorting-list.svg");
}

.filter__button:hover {
  border-color: #83b3d3;
}

.filter__button:focus {
  border-color: #83b3d3;
}

/* ====== PRODUCT CARD ====== */
.product {
  display: flex;
}

.img-wrapper {
  display: flex;
  margin-right: 33px;
  border: 3px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.img-wrapper:hover {
  opacity: 0.6;
}

.img-wrapper:focus {
  border-color: #83b3d3;
}

.img-wrapper:active {
  opacity: 0.3;
}

.product__img {
 object-fit: cover;
}

.product__info {
  width: 320px;
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 6px;
  padding-bottom: 3px;
}

.product__link {
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
}

.product__name {
  grid-column: 1/-1;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.product__link:hover .product__name{
  color: #756257;
}

.product__link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 2px;
}

.product__link:active {
  color: #756257;
  opacity: 0.3;
}

.product__type {
  line-height: 23px;
  margin: 0;
}

.product__price {
  line-height: 23px;
  margin: 0;
}

.product__button {
  margin-top: 30px;
  border: 3px solid transparent;
  padding: 0;
  text-decoration: none;
}

.product__button_description {
  width: 150px;
}

.product__button_description:hover {
  background-color: #615048;
}

.product__button_description:focus {
  border: 3px solid #83b3d3;
}

.product__button_description:active {
  color: rgba(225, 225, 225, 0.3);
}

.product__button_like {
  background-color: #83b3d3;
}

.product__button_like:hover {
  background-color: #68a2ca;
  border: 1px solid #756257;
}

.product__button_like:focus {
  border: 3px solid #756257;
}

.product__button_like:active {
  color: rgba(225, 225, 225, 0.3);
  border: 1px solid #756257;
}

.product__button_selected {
  background-color: #7db54f;
}

.product__button_selected:hover {
  background-color:  #6c9e42;
}

.product__button_selected:focus {
  border: 3px solid #756257;
}

.product__button_selected:active{
  color: rgba(225, 225, 225, 0.3);
}

.product__quality {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  margin-left: auto;
  padding-bottom: 3px;
  padding-top: 5px;
}

.product__rating {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  cursor: text;
  margin-top: auto;
  text-transform: uppercase;
}

.product__stars {
  display: flex;
  align-self: center;
  height: 18px;
  background: url("../images/svg/star.svg");
  background-size: 18px;
  background-repeat: space;
}

.product__stars_four {
  width: 88px;
}

.product__stars_three {
  width: 65px;
}

.product__stars_two {
  width: 40px;
}

/* ====== PAGINATION ====== */
.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

.pagination__list :last-child {
  margin-right: 0;
}

.pagination__item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination__link {
  width: 55px;
  min-height: 55px;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  padding: 9px;
  border: 3px solid transparent;
  background-color:  #83b3d3;
}

.pagination__link_current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination__link:hover {
  background: #68a2ca;
  border-color: #68a2ca;
}

.pagination__link:focus {
  border-color: #756257;
  outline: 0;
}

.pagination__link:active {
  color: rgba(225, 225, 225, 0.3);
}

.catalog__quantity {
  display: flex;
  padding-bottom: 8px;
}

.catalog__label {
  display: flex;
  width: 386px;
  justify-content: space-between;
  align-items: center;
  line-height: 23px;
}

.catalog__label-text {
  width: 175px;
  margin: 0;
  margin-right: 51px;
}

.catalog__num {
  width: 160px;
}

/* ====== POPUP ====== */
.popup {
  position: absolute;
  top: 48px;
  right: -183px;
  z-index: 1;
  font-family: inherit;
  color: #242424;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-image: url("../images/svg/popup-top.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -9px;
  left: 186px;
  width: 20px;
  height: 9px;
}

.selected {
  width: 400px;
  height: 230px;
  border-bottom: none;
}

.navigation__icon_selected:hover + .selected ,
.navigation__icon_selected:focus + .selected ,
.navigation__item:focus-within .selected,
.selected:focus-within {
  visibility: visible;
}

.selected__list {
  width: 100%;
  padding: 15px;
}

.selected__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.selected__list :last-child {
  margin-bottom: 0;
}

.selected__img {
  margin-right: 17px;
}

.selected__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.selected__type {
  font-size: 16px;
}

.focus-group:hover {
  opacity: 0.3;
}

.focus-group:focus {
  border-color: #83b3d3;
}

.focus-group:active {
  opacity: 0.6;
}

.focus-group {
  display: flex;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 7px;
  color: #000000;
}

.popup__button-delete {
  width: 36px;
  height: 36px;
  background-image: url("../images/svg/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin-top: 7px;
  padding: 7px;
  border: 3px solid transparent;
  border-radius: 4px;
  opacity: 0.2;
}

.popup__button-delete:hover {
  opacity: 1;
}

.popup__button-delete:focus {
  border-color: #83b3d3;
  opacity: 1;
}

.popup__button-delete:active {
  opacity: 0.1;
  background-color: transparent;
}

.popup__button-submit {
  width: 400px;
  height: 60px;
  text-decoration: none;
  border-radius: 0 0 20px 20px;
  border: 3px solid transparent;
  position: relative;
  left: -1px;
}

.popup__button-submit:hover {
  background-color: #615048;
}

.popup__button-submit:focus {
  border: 3px solid #83b3d3;
}

.popup__button-submit:active {
  color: rgba(225, 225, 225, 0.3);
}

/* ======  ====== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: flex;
}

.modal__close {
  display: none;
}

.modal__window {
  margin: auto;
  padding: 54px 70px 29px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal__window_search {
  width: 715px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  align-items: center;
}

.modal__title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal__close-button {
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 3px solid transparent;
  background-image: url("../images/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  cursor: pointer;
}

.modal__close-button:hover {
 background-color:  #e6e6e6;
}

.modal__close-button:focus {
  border-color: #83b3d3;
}

.modal__close-button:active {
  opacity: 0.3;
  background-color: #d4d3d3;;
}

.modal__button {
  grid-column: 1/-1;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 10px;
  margin-top: 40px;
}

.modal__form {
  display: grid;
  grid-template-columns: 155px 133px 1fr 133px;
  grid-template-rows: 50px 40px 50px 40px 50px;
  margin-bottom: 40px;
}

.modal__input-counter::-webkit-outer-spin-button,
.modal__input-counter::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal__date-wrap {
  position: relative;
  grid-column: 2/-1;
}

.modal__calendar {
  width: 25px;
  height: 25px;
  background-image: url("../images/svg/date.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  align-self:flex-end;
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal__input-date {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  border-radius: 4px;
  padding: 2px 19px;
}

.modal__input-date:hover + .modal__calendar {
  background-color:  #e6e6e6;
}

.modal__calendar:focus {
  border-color:  #83b3d3;
}

.modal__comment {
  line-height: 29px;
  font-size: 16px;
  grid-column: 2/-1;
  /* opacity: 0; */
}

/* изначально комментарии не должны отображаться ,
после проверки введенной даты элементам добавляются классы .modal__comment_show и,
при необходимости, .modal__comment_err*/

.modal__comment_err {
  color: #ff5757;
}

.modal__comment_show {
  opacity: 1;
}

.modal__label {
  align-self: center;
  font-weight: 700;
  line-height: 40px;
 }

 .modal__label-wrap {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  justify-content: end;
  position: relative;
 }

.modal__label_children {
  padding-right: 10px;
}

.modal__info {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #83b3d3;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.info__popup {
  width: 256px;
  padding: 18px 20px 23px;
  border-radius: 10px;
  background-color: #333333;
  border-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 54px;
  right: -98px;
  visibility: hidden;
}

.modal__info:hover + .info__popup {
  visibility: visible;
}

.modal__info:hover {
  background-color: #68a2ca;
}

.info__popup::before {
  content: "";
  background-image: url("../images/svg/popup-top-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: 116px;
  width: 20px;
  height: 9px;
}

.info__text {
  color: #ffffff;
  font-size: 16px;
 line-height: 20px;
 font-family: "PT Sans", "Arial", sans-serif;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 10px 12px;
}

.counter__change {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  opacity: 0.3;
  cursor: pointer;
  border: 3px solid transparent;
  padding: 10px;
  border-radius: 4px;
  min-height: 13px;
}

.counter__change_minus {
  background-image: url("../images/svg/minus.svg");
  height: 1px;
  width: 13px;
}

.counter__change_plus {
  background-image: url("../images/svg/plus.svg");
  width: 13px;
  height: 13px;
}

.counter__change:hover {
  opacity: 1;
}

.counter__change:focus {
  border-color: #83b3d3;
  opacity: 1;
}

.counter__change:active {
  opacity: 0.2;
}

.counter__input {
  width: 100%;
  background-color: #f2f2f2;
  font: inherit;
  border: none;
  text-align: center;
  line-height: 40px;
}

.counter__input::-webkit-outer-spin-button,
.counter__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
